@{
    ViewData["Title"] = "Haqqımızda";
}

<!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/images/bg3.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white">Haqqımızda</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="http://www.cledacademy.com">CledAcademy.Com</a></li>
                            <li><a asp-controller="Home" asp-action="Index">Ana Səhifə</a></li>
                            <li class="active text-gray-silver">Haqqımızda</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: About -->
    <section class="">
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h6 class="letter-space-4 text-gray-darkgray text-uppercase mt-0 mb-0">Bİzİm FƏalİyyətİmİz Haqqında</h6>
                        <h2 class="text-uppercase font-weight-600 mt-0 font-28 line-bottom">Sİzİn Təhsİl Platformanız</h2>
                        <h4 class="text-theme-colored">Məqsədimiz keyfiyyət və tələbə məmnuniyyətidir.</h4>
                        <p>CLEDAcademy həm öyrənmə, həm öyrətmə fəaliyyətləri ilə məşğul olan və tələbələrin yeni bilik, bacarıq və yeni nailiyyətlər əldə etmək məqsədilə qoşulduğu onlayn tədris platformasıdır.
                            <br />CLEDAcademy tərəfindən təklif olunan dərslər yüksək səviyyəli ekspert müəllimlər tərəfindən tədris edilir. Burada hər bir dərs istəyə uyğun olaraq seçilə bilir və yalnız ehtiyac olan bölmələrin üzərində işləməyə daha çox imkan yaranır. 
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="video-popup">
                            <a href="#" data-lightbox-gallery="youtube-video" title="">
                                <img alt="" src="~/images/online-MBA.png" class="img-responsive img-fullwidth">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Services -->
    <section id="services" class="bg-lighter">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-uppercase text-theme-colored title line-bottom">Bİzİm <span class="text-theme-color-2 font-weight-400">Üstünlüklərİmİz</span></h2>
                    </div>
                </div>
            </div>
            <div class="row mtli-row-clearfix">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
                        <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
                            <i class="pe-7s-culture"></i>
                        </a>
                        <div class="icon-box-details">
                            <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Online Təhsil</h4>
                            <p class="text-gray font-13 mb-0">Magistr imtahanına online şəkildə, evinizdən çıxmadan hazırlaşın</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
                        <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
                            <i class="pe-7s-phone"></i>
                        </a>
                        <div class="icon-box-details">
                            <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Universal Platforma</h4>
                            <p class="text-gray font-13 mb-0">Bir dəfə qeydiyyatdan keçin, bütün cihazlarınızda istifadə edin</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
                        <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
                            <i class="pe-7s-cloud"></i>
                        </a>
                        <div class="icon-box-details">
                            <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Limitsiz İstifadə</h4>
                            <p class="text-gray font-13 mb-0">Videoları bir dəfə alın və limitsiz şəkildə istifadə edin</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
                        <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
                            <i class="pe-7s-timer"></i>
                        </a>
                        <div class="icon-box-details">
                            <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Yoxlama Testləri</h4>
                            <p class="text-gray font-13 mb-0">Öyrəndiklərinizi və bacarıqlarınızı testlər vasitəsi ilə yoxlayın</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
                        <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
                            <i class="pe-7s-credit"></i>
                        </a>
                        <div class="icon-box-details">
                            <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Balansınızı rahat şəkildə artırın</h4>
                            <p class="text-gray font-13 mb-0">Ödənişlərinizi <a class="btn-link" href="http://goldenpay.az/">Goldenpay</a> vasitəsi ilə cəmi 1 neçə saniyə ərzində artırın</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
                        <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
                            <i class="pe-7s-cash"></i>
                        </a>
                        <div class="icon-box-details">
                            <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Vaxtaşırı Endirimlər</h4>
                            <p class="text-gray font-13 mb-0">Videoları bölmə və ya kurs şəkilində aldıqda endirimlər</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Funfact -->
    <section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="/images/bg2.jpg" data-parallax-ratio="0.7">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-smile mt-5 text-theme-color-2"></i>
                        <h2 data-animation-duration="2000" data-value="167" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h5 class="text-white text-uppercase mb-0">BİZİM TƏLƏBƏLƏR</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-note2 mt-5 text-theme-color-2"></i>
                        <h2 data-animation-duration="2000" data-value="3" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h5 class="text-white text-uppercase mb-0">BİZİM KURSLAR</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-users mt-5 text-theme-color-2"></i>
                        <h2 data-animation-duration="2000" data-value="3" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h5 class="text-white text-uppercase mb-0">BİZİM MÜƏLLİMLƏR</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-0">
                    <div class="funfact text-center">
                        <i class="pe-7s-cup mt-5 text-theme-color-2"></i>
                        <h2 data-animation-duration="2000" data-value="2" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
                        <h5 class="text-white text-uppercase mb-0">MÜKAFATLARIMIZ</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->