@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Admin Panel";
}

<section class="content">
    <h1 class="text-center">CLEDAcademy Admin panel</h1>
    <p>In order to use admin panel please use appropriate left navigation menu ... </p>
</section>