@model CledAcademy.Web.Models.ViewModels.SocialViewModel
<li>
    <a target="_blank" href="@Model.FacebookPage">
        <i class="fa fa-facebook text-white"></i>
    </a>
</li>
@*<li>
    <a target="_blank" href="@Model.TwitterPage">
        <i class="fa fa-twitter text-white"></i>
    </a>
</li>
<li>
    <a target="_blank" href="@Model.InstagramPage">
        <i class="fa fa-instagram text-white"></i>
    </a>
</li>
<li>
    <a target="_blank" href="@Model.LinkedinPage">
        <i class="fa fa-linkedin text-white"></i>
    </a>
</li>*@