@{
    ViewData["Title"] = "Unudulmuş Şifrənin Bərpası";
}

 <!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/images/bg3.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white">Yeni Şifrənin Təyin Olunması</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="http://www.cledacademy.com">CledAcademy.Com</a></li>
                            <li><a asp-controller="Account" asp-action="Index">Hesab</a></li>
                            <li class="active text-gray-silver">Yeni Şifrənin Təyin Olunması</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <div class="icon-box mb-0 p-0">
                        <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
                            <i class="fa fa-key"></i>
                        </a>
                        <h4 class="text-gray pt-10 mt-0 mb-30">Yeni Şifrə Yaradın</h4>
                    </div>
                    <hr>
                    <p>Sizin üçün yeni şifrə təyin edildi. Hesabınıza <a style="color: blue;" asp-controller="Account" asp-action="Login">bu</a> keçiddən istifadə edərək daxil ola bilərsiniz.</p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->
