@model CledAcademy.Web.Models.ViewModels.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Unudulmuş Şifrənin Bərpası";
}
 <!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/images/bg3.jpg">
        <div class="container pt-70 pb-20">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title text-white">Yeni Şifrənin Təyin Olunması</h2>
                        <ol class="breadcrumb text-left text-black mt-10">
                            <li><a href="http://www.cledacademy.com">CledAcademy.Com</a></li>
                            <li><a asp-controller="Account" asp-action="Index">Hesab</a></li>
                            <li class="active text-gray-silver">Yeni Şifrənin Təyin Olunması</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-3">
                    <div class="icon-box mb-0 p-0">
                        <a href="#" class="icon icon-bordered icon-rounded icon-sm pull-left mb-0 mr-10">
                            <i class="fa fa-key"></i>
                        </a>
                        <h4 class="text-gray pt-10 mt-0 mb-30">Yeni Şifrə Yaradın</h4>
                    </div>
                    <hr>
                    <p>Şirfənizi dəyişmək üçün aşağıdakı məlumatları daxil edin.</p>
                    <form asp-controller="Account" asp-action="ResetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" name="login-form" class="clearfix">
                        <input asp-for="Code" type="hidden" />
                         <div class="row">
                            <div class="form-group col-md-12">
                                <label asp-for="Email"></label> <span class="required-star">*</span>
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label asp-for="Password"></label> <span class="required-star">*</span>
                                <input asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label asp-for="ConfirmPassword"> </label> <span class="required-star">*</span>
                                <input asp-for="ConfirmPassword" class="form-control">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group pull-right mt-10">
                            <button type="submit" class="btn btn-dark btn-sm">Şifrəni Yenilə</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}